#------------------------------------------------------------------------------
# CMake Files
#------------------------------------------------------------------------------
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

#------------------------------------------------------------------------------
# Compiled files
#------------------------------------------------------------------------------
release/
Release/
debug/
Debug/

#------------------------------------------------------------------------------
# Eclipse Files
#------------------------------------------------------------------------------
.settings/
.cproject
.project
